@import "./base.css";

@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:regular,italic,700,700italic);

* {
    z-index: 10; /* Prevent mouse blob to get on top of readable elements */
    cursor: none;
}

#app {
    margin: 0 auto;
    padding: 0 2rem 2rem 2rem;
    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

.icon {
    height: auto;
    width: 2%;
}
