@import "./keyframes.css";
@import "./fonts.css";
@import "./responsive.css";

/* theme variables */
:root {
    --color-background-dark: hsl(203, 40%, 30%);
    --color-background: hsl(203, 60%, 30%);
    --color-background-soft: hsl(203, 80%, 30%);
  
    --color-heading: snow;
    --color-text: hsl(0, 0%, 90%);

    --block-border-radius: 8px;
}

a, p, div {
    font-family:"Ubuntu";
    font-size: 20px;
    color: var(--color-text);
}

body {
    background-color: var(--color-background);
}

header {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 2px 2px 2px 2px;
    background-color: var(--color-background-soft);
    border: #181818 solid 4px;
    border-radius: var(--block-border-radius);
    
    animation: header-shadow 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
header h1 {
    /*Add animation for head text*/
}

#header-nav li {
    align-items: center;
    margin: 2px 5px 2px 5px;
    padding: 2px 2px 2px 2px;
    border-radius: var(--block-border-radius);
}
#header-nav li:hover {
    background-color: var(--color-background);
}
#header-nav li a {
    text-decoration: none;
    color: var(--color-text)
}

footer {
    background-color: var(--color-background-dark);
    width: max-content;
    margin-bottom: none;
}